<h1>Add to Stores List</h1>
<div class="well">
  <form action="/" method="post">
    <div class="form-group">
      <label for="store_name" class="form-label">Name of Store to Add</label>
      <input type="text" name="store_name" class="form-control">
      <button type="submit">Create Store</button>
    </div>
  </form>
</div>

<% if @stores.any?() %>
  <h1>Stores List</h1>
  <% @stores.each() do |single|  %>
    <li><a href="/store/<%= single.id %>"><%= single.name %></a></li>
  <% end %>

<% end %>
